# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Django
db.sqlite3
media/

# Environment variables
.env

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Static collected files (production)
staticfiles/
